<h2>Admin Control</h2>

<ul>
  <li><%= link_to "Food items", admin_food_items_path %></li>

  <li><%= link_to "Clothes", admin_clothes_items_path %></li>

  <li><%= link_to "Weapons", admin_weapons_items_path %></li>
  
  <li><%= link_to "Armour", admin_armours_items_path %></li>

  <li><%= link_to "Tools", admin_tools_items_path %></li>

  <li><%= link_to "Materials", admin_materials_items_path %></li>
</lu>
