<!DOCTYPE html>
<html>
<head>
  <title>Villagers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<nav>
<% if !user_signed_in? %>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Sign in", new_user_session_path %>

<% else %>
Signed in as <%= current_user.name %>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% if current_user.admin? %>
<%= link_to "Admin", admin_root_path %>
<% end %>
<% end %>

</nav>

<%= yield %>

</body>
</html>
